/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body{
	background: #d99 url("../img/gray_jean.png");
}
.content{
	background: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
    
}
.logo {
	font-family: 'Happy Monkey', cursive;
	font-size:  12px;
}
.intro{
	background: #FFF;
	border: 1px solid #ddd;
	margin-bottom:  10px;
    border-top: 6px solid #ddd;
}
.listings{
	 border-bottom-color:#E8E8E8;
	  border-bottom-style:solid;
	  border-bottom-width:1px;
	  color:#888888;
	  display:block;
	  margin:0;
	  padding:10px;
}

.PostHeight{
	padding: 20px 0; 
}

.footer{
	background: #000;
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


